yacs>=0.1.6
pyyaml>=5.1
matplotlib
termcolor>=1.1
simplejson
tqdm
psutil
matplotlib
opencv-python
pandas
torchvision>=0.4.2
Pillow
sklearn
tensorboard
fairscale
numpy
git+https://github.com/facebookresearch/fvcore
git+https://github.com/cocodataset/cocoapi.git#subdirectory=PythonAPI
simplejson
sklearn
pandas
cython